<h1>Editing comment in <%= @comment.post.title %></h1>

<%= form_with model: [ @comment.post, @comment ] do |form| %>
      <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
          <% @comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :body, 'Comment' %>
      <%= form.text_area :body %>
    </div>

    <div class="field">
      <div style="display:none"> <%= form.select :user_id,[current_user.id] %> </div>
    </div>

    <div class="actions">
      <%= form.submit "Edit comment" %>
    </div>
  <% end %>