<%= form_with(model: user) do |form| %>
  <div>
    <% if user.avatar.attached? %>
      <%= image_tag(user.avatar, style:"width: 100px") %>
    <% else %>
      <%= image_tag("default_avatar.jpg", style:"width: 100px") %>
    <% end %>
    <%= form.file_field :avatar %>
  </div>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :surname, style: "display: block" %>
    <%= form.text_field :surname %>
  </div>

  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
