<div id="<%= dom_id user %>">
    <% if user.avatar.attached? %>
      <%= image_tag(user.avatar, style:"width: 100px") %>
    <% else %>
      <%= image_tag("default_avatar.jpg", style:"width: 100px") %>
    <% end %>  
    <p>
    <strong>User:</strong>
    <%= user.name %>
    <%= user.surname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
  <%if can? :all, @user%>
    <% if user.verified == 1 %>
      <%= button_to "Verificato", verified_user_path(user), class: 'verified like-btn btn-green', id:user.id %> 
      <%= button_to "Non verificato", verified_user_path(user), class: 'verified dislike-btn', id:user.id %> 
    <% else %>
      <%= button_to "Verificato", verified_user_path(user), class: 'verified like-btn', id:user.id %> 
      <%= button_to "Non verificato", verified_user_path(user), class: 'verified dislike-btn btn-red', id:user.id %> 
    <% end %>
  <%end%>
</div>
