<div class="container" style="width: 60%;" id="<%= dom_id user %>">
  <div class="row">
    <div class="col-4">
      <% if user.avatar.attached? %>
        <%= image_tag(user.avatar, style:"width: 100px") %>
      <% else %>
        <%= image_tag("default_avatar.jpg", style:"width: 100px") %>
      <% end %>
    </div>
    <div class="col-8">
      <h2 id="<%= user.id %>" class="name"><%= user.name %><%= user.surname %></h2>
      <% if user.verified==1 %>
        <%= image_tag("verified-icon.jpg", style:"width: 15px", class:"verified-icon", id:user.id) %>
      <% end %>
      <h5 id="<%= user.id %>" class="username">@<%= user.username %></h5>
      <strong id="<%= user.id %>" class="email"><%= user.email %><strong>
    </div>
  </div>
</div>

