<div id="<%= dom_id user %>">
    <% if user.avatar.attached? %>
      <%= image_tag(user.avatar, style:"width: 100px") %>
    <% else %>
      <%= image_tag("default_avatar.jpg", style:"width: 100px") %>
    <% end %>  
    <br>
    <strong>User:</strong>
    <span id="<%= user.id %>" class="name"><%= user.name %></span>
    <% if user.verified==1 %>
      <%= image_tag("verified-icon.jpg", style:"width: 15px", class:"verified-icon", id:user.id) %>
    <% end %>
    <br>
    <%= user.surname %>
    <strong>Email:</strong>
    <%= user.email %>
</div>
