<div  id="<%= dom_id user %>"  style="background-color: white;">
  <div class="row" style="margin-top: 80px;">
    <div class="row" style="margin-top: 40px; text-align: left; display: flex; align-items: center;">
      <div class="col-3"></div>
      <div class="col-3">
        <% if user.avatar.attached? %>
          <%= image_tag(user.avatar, style:"width: 70%") %>
        <% else %>
          <%= image_tag("default_avatar.jpg", style:"width: 70%") %>
        <% end %>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-12">
          <h2 id="<%= user.id %>" class="name" style="display: inline-block;"><%= user.name %><%= user.surname %></h2>
          <% if user.verified==1 %>
            <%= image_tag("verified-icon.jpg", style:"width: 20px; display: inline-block; padding-bottom: 5px;", class:"verified-icon", id:user.id) %>
          <% end %>
          </div>
          <div class="col-12">
          <h5 id="<%= user.id %>" class="username">@<%= user.username %></h5>
          </div>      
          <div class="col-12">
          <strong id="<%= user.id %>" class="email"><%= user.email %></strong>
          </div>      
        </div>
      </div>
    </div>
  </div>
</div>
