<p class="alert alert-danger"><%= alert %></p>
<p class="alert alert-success"><%= notice %></p>
<div id="users" class="container-fluid" style="padding-top: 100px; width: 60%; ">
  <% @users.each do |user| %>
    <%= render user %>
    <div class="container" style="background-color: white;">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4" style="text-align: center;">
          <a class="btn feed-link"><%= link_to "Visualizza profilo", user, class: "btn feed-link", style: "margin-bottom: 100px;" %></a>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
      <!--
      <div class="row">
            <%if can? :all, @user%>
              <% if user.verified == 1 %>
                <div class="col-12">
                  <%= button_to "Elimina verificato", verified_user_path(user), class: 'btn btn-danger unverified-btn', id:user.id %> 
                </div>
              <% else %>
                <div class="col-12">
                  <%= button_to "Conferma verificato", verified_user_path(user), class: 'btn btn-success verified-btn', id:user.id %> 
                </div>
              <% end %>
            <%end%>
      </div>
      -->
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var alerts = document.querySelectorAll(".alert");

    alerts.forEach(function(alert) {
      if (alert.innerHTML.trim() !== "") {
        alert.classList.add("show");
      }
    });
  });

</script>
