<p style="color: green"><%= notice %></p>
<h1>PROFILO UTENTE</h1>

<%= render @user %>
<section class="stats">
      <%= render 'shared/stats' %>
</section>
<%= render 'follow_form' if user_signed_in? %>
<%if can? :all, @user or (current_user!=nil and current_user.id == @id)%>
  <div>
    <% if (current_user!=nil and current_user.id == @id)%>
      <%= link_to "Edit", edit_user_path(@user) %> 
      <%= link_to "Favorites", favorite_show_path(@user) %> 
    <%end%>  
    <%if can? :all, @user%>
      <%= link_to "Back to users", users_path %>
    <%end%>
    <%= button_to "Destroy this user", @user, method: :delete %>
  </div>
<%end%>
<h1>BACHECA POST</h1>
<% @posts.each do |post| %>
  <%= render post %>
<% end %>
