<p style="color: green"><%= notice %></p>
<br>
<%= render @user %>

<section class="stats">
  <%= render 'shared/stats' %>
</section>
<%= render 'follow_form' if user_signed_in? %>
<%if can? :all, @user or (current_user!=nil and current_user.id == @id)%>
    <%if can? :all, @user%>
      <div class="container" style="width: 60%">
        <div class="row">
          <div class="col-4">
          </div>
          <div class="col-8">
            <%= link_to "Back to users", users_path, class: "btn btn-primary", style: "width:100%;" %>
          </div>
        </div>
      </div>
    <%end%>
    <div class="container" style="width: 60%">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8">
          <%= button_to "Destroy this user", @user, method: :delete, class: "btn btn-primary", style: "width:100%;" %>
        </div>
      </div>
    </div>

    </div>

    <% if (current_user!=nil and current_user.id == @id)%>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-6" style="text-align:center;">
          <%= link_to "Edit", edit_user_path(@user), class: "btn btn-outline-primary home-buttons"  %> 
        </div>
        <div class="col-6" style="text-align:center;">
          <%= link_to "Favorites", favorite_show_path(@user), class: "btn btn-outline-primary home-buttons"  %> 
        </div>
      </div>
    </div>
    <%end%>  
<%end%>
<hr>
<div class="container" style="width: 60%;">
  <h1>Post:</h1>
</div>
<% @posts.each do |post| %>
  <%= render post %>
<% end %>
