<div id="<%= dom_id post %>" data-id="<%= post.id %>">
  <p>
    <strong>User:</strong>
    <%= post.user.username %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= post.category %>
  </p>

  <p>
    <strong>Body:</strong>
    <% if post.url != nil %>
      <%= post.body %>...<a href = "<%= post.url %>" target="_blank" rel="noopener noreferrer">Articolo completo</a>
    <% else %>
      <%= post.body %>
    <% end %>
  </p>

  <p>
    <strong>Image:</strong>
    <br>
    <%= image_tag post.image, :style => "width: 20%; border-radius: 5px;" if post.image.attached?%>
    <%= image_tag post.img_test, :style => "width: 20%; border-radius: 5px;" if post.img_test != nil%>
  </p>

  <p>
    <strong>Rank:</strong>
  </p>

</div>
