<% 
  max_id = Comment.maximum(:id)
  if max_id == nil
    max_id = 0
  end 
  post_id = post.id
%>

<div class='container' style="width: 60%; background-color: white;">
  <br>
  <div class='container'>
    <div class='row'>
      <div class='col-11'>
        <h5><b><%= link_to post.user.name, user_path(post.user.id), method: "get", class: "text-dark" %></h5></b>
        <h5><b><%= link_to post.user.surname, user_path(post.user.id), method: "get", class: "text-dark" %></h5></b>


        <% if User.find(post.user.id).verified==1 %>
          <%= image_tag("verified-icon.png", style:"width: 15px; height: 15px;") %>
        <% end %>
      </div>
      <div class='col-1'>
        <% if user_signed_in? %>
            <div id="posts" data-name="<%= current_user.name %>" data-user_id="<%= current_user.id %>" data-max_id ="<%= max_id %>">
            <% if !post.favorited?(current_user) %>
          <button type="button" class="favorite" data-post_id="<%=post_id%>"><%= image_tag("empty-star.png", style:"width: 20px; height: 20px;", data: { empty_star_path: image_path('empty-star.png'), yellow_star_path: image_path('yellow-star.png')}) %></button>     
            <% else %>
          <button type="button" class="favorite" data-post_id="<%=post_id%>"><%= image_tag("yellow-star.png", style:"width: 20px; height: 20px;", data: { empty_star_path: image_path('empty-star.png'), yellow_star_path: image_path('yellow-star.png')}) %></button>     
            <% end %>
        <% else %>
          <div id="posts" data-max_id ="<%= max_id %>" data-post_id="<%= post.id %>">
        <% end %>
        </div>
          
      </div>
    </div>
  </div>
  <div class='col-12'>
    <p>
      <strong>#<%= post.category %></strong>
    </p>
  </div>
  <div class='col-12'>
    <p>
      <h5><%= post.title %></h5>
    </p>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-4'>
        <%= image_tag post.image, :style => "width: 100%; border-radius: 5px;" if post.image.attached?%>
        <%= image_tag post.img_test, :style => "width: 100%; border-radius: 5px;" if post.img_test != nil%>
      </div>
      <div class='col-8'>
        <% if post.url != nil %>
          <p style="font-weight: normal;"><%= post.body %>...<a href = "<%= post.url %>" target="_blank" rel="noopener noreferrer">articolo completo</a></p>
        <% else %>
          <p style="font-weight: normal;"><%= post.body %></p>
        <% end %>
      </div>
    </div>
  </div>

  <br>

  <div class='container'>
    <div class='row'>
      <div class='col-4'>
        <% if user_signed_in? %>
          <% if post.liked?(current_user) %>
            <button type="button" class="rank-btn up green-up" data-post_id="<%=post_id%>"><%= image_tag("green-up.png", data: { green_up_path: image_path('green-up.png'), white_up_path: image_path('white-up.png'), red_down_path: image_path("red-down.png"), white_down_path: image_path("white-down.png")}) %></button>     
            <span class="like-count" style='text-align: center; display: contents;' id="<%=post_id%>" style="padding-top: 20px;"><%= post.rank %></span>
            <button type="button" class="rank-btn down white-down" data-post_id="<%=post_id%>"><%= image_tag("white-down.png", data: { green_up_path: image_path('green-up.png'), white_up_path: image_path('white-up.png'), red_down_path: image_path("red-down.png"), white_down_path: image_path("white-down.png")}) %></button>     
          <% elsif !post.liked?(current_user) && post.disliked?(current_user)%>
            <button type="button" class="rank-btn up white-up" data-post_id="<%=post_id%>"><%= image_tag("white-up.png", data: { green_up_path: image_path('green-up.png'), white_up_path: image_path('white-up.png'), red_down_path: image_path("red-down.png"), white_down_path: image_path("white-down.png")}) %></button>     
            <span class="like-count" style='text-align: center; display: contents;' id="<%=post_id%>" style="padding-top: 20px;"><%= post.rank %></span>                
            <button type="button" class="rank-btn down red-down" data-post_id="<%=post_id%>"><%= image_tag("red-down.png", data: { green_up_path: image_path('green-up.png'), white_up_path: image_path('white-up.png'), red_down_path: image_path("red-down.png"), white_down_path: image_path("white-down.png")}) %></button>     
          <% else %>
            <button type="button" class="rank-btn up white-up" data-post_id="<%=post_id%>"><%= image_tag("white-up.png", data: { green_up_path: image_path('green-up.png'), white_up_path: image_path('white-up.png'), red_down_path: image_path("red-down.png"), white_down_path: image_path("white-down.png")}) %></button>     
            <span class="like-count" style='text-align: center; display: contents;' id="<%=post_id%>" style="padding-top: 20px;"><%= post.rank %></span>                  
            <button type="button" class="rank-btn down white-down" data-post_id="<%=post_id%>"><%= image_tag("white-down.png", data: { green_up_path: image_path('green-up.png'), white_up_path: image_path('white-up.png'), red_down_path: image_path("red-down.png"), white_down_path: image_path("white-down.png")}) %></button>     
          <% end %>
        <% else %>
          <a href="/users/sign_in"><button type="button" class="rank-btn"><%= image_tag("white-up.png")%></button></a>     
          <span class="like-count" id="<%=post_id%>" style="padding-top: 20px;"><%= post.rank %></span>
          <a href="/users/sign_in"><button type="button" class="rank-btn"><%= image_tag("white-down.png")%></button></a>  
        <% end %> 
        </div>
      <div class='col-8'>
        <% if post.comments.empty? %>
        <% else %>
          <div class="comment-container" style="max-height: 200px; overflow: auto;">
            <ul class="comment-list">
              <% post.comments.each do |r| %>
                <% if r.visible %>
                  <ul class="list-group">
                    <li class="list-group-item" style="word-wrap: break-word; font-weight: normal;">
                       <a href="/users/<%= r.user_id %>" style="margin-left: 0;"><%= User.find(r.user_id).name %></a> "<%= r.body %>"
                    </li>
                  </ul>
                  <% if can? :destroy , r or (current_user!=nil and current_user.id == User.find(r.user_id).id) %>
                    <button type="button" class="delete btn btn-danger" data-p_id="<%=r.post.id%>" data-id="<%=r.id%>">Delete</button>     
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>

        <% end %>
        <%= form_with model: [ post, @comment ], data: { post_id: post_id, max_id: max_id }, class: "comment-form" do |form| %>
          <% if @comment.errors.any? %>
            <div id="error_explanation">
              <h4><%= pluralize(@comment.errors.count, "error") %> prohibited this review from being saved:</h4>
              <ul>
                <% @comment.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="row">
            <div class="col-9">
              <div class="field" style="width:100%;">
                <%= form.text_area :body, class: "comment-text", placeholder: "Lascia un commento", style: "width: 100%; height:30px;" %>
              </div>
            </div>
            <div class="col-3">
              <% if user_signed_in? %>
                <div class="field">
                  <div style="display:none"> <%= form.select :user_id,[current_user.id] %> </div>
                </div>
                <div class="actions">
                  <%= form.submit "+", class: "comment-submit", style: "border-radius:20px;"%>
                </div>
              <% end %>
        <% end %>
        <% if current_user == nil %>
          <a href="http://127.0.0.1:3000/users/sign_in"><button style="border-radius:20px;">+</button></a><br>
        <% end %>  
        <% if current_user!=nil and current_user.id == post.user_id%>
          <%= link_to "Edit this post", edit_post_path(post) %>
        <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-2'></div>
      <div class='col-6'>  
        <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6410620c82a5320015aeb382&product=sop' async='async' ></script>
        <div class="sharethis-inline-share-buttons" data-url="<%= post.url %>"></div>
      </div>
      <div class='col-4'></div>
    </div>
  <%= if can? :destroy, post or (current_user!=nil and current_user.id == post.user_id) then button_to 'Delete post', post, method: :delete, data:{ confirm: 'Are you sure?' } end%>
  </div>
</div>

<hr>

