<p style="color: green"><%= notice %></p>

<br>

<% if current_user!=nil %><br>
  <div class="container">
    <div class="row">
      <div class="col-4" style="text-align:center;">
        <%= link_to "Tutte le notizie", root_path(), class: "btn btn-outline-primary home-buttons" %>
      </div>
      <div class="col-4" style="text-align:center;">
        <%= link_to "Seguiti", feed_path(), class: "btn btn btn-primary home-buttons" %>
      </div>
      <div class="col-4" style="text-align:center;">
        <%= link_to "Esplora", maps_path(), class: "btn btn-outline-primary home-buttons" %>
      </div>
    </div>
  </div>
<% end %>

<br>

<div class="container" style="text-align: center;">
  <div class="row">
    <% Post.distinct.pluck(:category).each do |category| %>
      <div class="col-2">
        <%= link_to category, feed_path(category: category), class: "category-link btn btn-outline-success home-buttons" %>
      </div>
    <% end %>
  </div>
</div>

<br>

<div class="container" style="width: 60%;">
  <h1>News:</h1>
  <%= link_to image_tag("pencil.png", style: "width: 50px;"), new_post_path, class: "btn btn-outline-primary pencil"%>
</div>
<div id="posts">
    <%= render @posts %>
</div>
