<p style="color: green"><%= notice %></p>

<%= form_tag(posts_path, method: "get") do %>
  <%= select_tag(:category, options_for_select(Post.distinct.pluck(:category)), include_blank: true) %>
  <%= submit_tag("Cerca per categoria") %>
<% end %>

<%= form_tag(posts_path, method: "get") do %>
  <%= text_field_tag(:keyword) %>
  <%= submit_tag("Cerca per argomento") %>
<% end %>

<h1>Posts</h1>
<%= link_to "New post", new_post_path %>
<%= render @posts %>
