<p class="alert alert-danger" style="z-index: 1; margin-top: 78px; position: absolute;"><%= alert %></p>
<p class="alert alert-success" style="z-index: 1; margin-top: 78px;position: absolute;"><%= notice %></p>
<br>
<span class="page" style="display: none;"><%=@current_view%></span>
<div class="container-fluid double-bar" style="text-align: center; z-index:0;">
  <div class="row align-items-center d-flex justify-content-between">
    <div class="col-3" style="text-align:center;"></div>
    <div class="col" style="text-align:center;">
      <%= link_to "Home", root_path(), class: "btn feed-link home-buttons 1 font-size: 20px;" %>
    </div>
    <% if current_user!=nil %>
      <div class="col" style="text-align:center;">
        <%= link_to "Seguiti", feed_path(), class: "btn feed-link home-buttons 2 font-size: 20px;" %>
      </div>
    <% end %>
    <div class="col" style="text-align:center;">
      <%= link_to "Esplora", maps_path(), class: "btn feed-link home-buttons 3 font-size: 20px;" %>
    </div>
    <div class="col-3" style="text-align:center;"></div>
  </div>
  <div class="row align-items-center d-flex justify-content-between">
    <% i = 4%>
    <br>
    <div class="col"></div>
    <% Post.all_category.each do |category| %>
      <div class="col">
        <%= link_to category, posts_path(category: category), class: "category-link btn  home-buttons "+i.to_s %>
      </div>
      <% i += 1 %>
    <% end %>
    <div class="col-auto">
      <a href="#" class="btn home-buttons btn-link" id="show-form-btn"><i class="fa-solid fa-magnifying-glass" style="color: #14a112;"></i></a>
    </div>
    <div id="form-container" style="display: none; text-align: right; ">
      <%= form_tag(posts_path, method: "get") do %>
        <%= text_field_tag(:keyword, nil, placeholder: 'Cerca argomento...',class: "searchbar2") %>
      <% end %>
    </div>
    <div class="col"></div>
  </div>
</div>

<script>
  $(document).ready(function() {
    // Aggiungi la classe "selected-category" al clic sul link della categoria
    $(".category-link").click(function() {
      $(".category-link").removeClass("selected-category");
      $(this).addClass("selected-category");
    });

    // Mostra/nascondi il form di ricerca
    $("#show-form-btn").click(function() {
      $("#form-container").toggle();
    });
  });
</script>

<br>

<div class="container posts" style="width: 60%;">
  <div class="news-text" style="text-align: center">
    <h1>News</h1>
  </div>
  <%= link_to image_tag("pencil.jpg", style: "width: 50px;"), new_post_path, class: " pencil"%>
  <br>
  <%= render @posts %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var alerts = document.querySelectorAll(".alert");

    alerts.forEach(function(alert) {
      if (alert.innerHTML.trim() !== "") {
        alert.classList.add("show");
      }
    });
  });

</script>