<%= javascript_include_tag 'application' %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<p style="color: green"><%= notice %></p>
<style>
  .button {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 12px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btn-green{
    background-color: green;
  }
  .btn-red{
    background-color: red;
  }
</style>
<% if current_user==nil %>
  <a href="http://127.0.0.1:3000/users/sign_in" class="button">clicca qui per fare il login</a>
<% end %>
<h1>Posts</h1>
<% 
  max_id = Comment.maximum(:id)
  if max_id == nil
    max_id = 0
  end 
%>
<% if user_signed_in? %>
  <div id="posts" data-username="<%= current_user.username %>" data-max_id ="<%= max_id %>">
<% else %>
  <div id="posts" data-max_id ="<%= max_id %>">
<% end %>
  <% i = 1 %>
  <% @posts.each do |post| %>
    <%= render post %>
    <% post_id = post.id %>
    <% if user_signed_in? %>
     <% if post.liked?(current_user) %>
        <%= button_to "Up", like_post_path(post), class: 'btn like-btn btn-green', id:"#{i}" %> 
      <% else %>
        <%= button_to "Up", like_post_path(post), class: 'btn like-btn', id:"#{i}" %>
      <% end %>
       <span class="like-count" id="<%=i%>"><%= post.rank %></span>
      <% if post.disliked?(current_user) %>
        <%= button_to "Down", dislike_post_path(post), class: 'btn btn-red dislike-btn', id:"#{i}"  %>
      <% else %>
        <%= button_to "Down", dislike_post_path(post), class: 'btn dislike-btn', id: "#{i}" %>
      <% end %>
    <% else %>
      <a href="http://127.0.0.1:3000/users/sign_in"><%= button_to "Up" %></a>
       <%= post.rank %> 
      <a href="http://127.0.0.1:3000/users/sign_in"><%= button_to "Down" %></a>
    <% end %> 

    <h2> Comments: </h2>
    <% if post.comments.empty? %>
      <p class="no-comment">No comments for this post...</p>
    <% else %>
      <ul class="comment-list">
      <% post.comments.each do |r| %>
        <% if r.visible %>
          <li> <%= User.find(r.user_id).username %> - <%= r.body %> - <%= r.like %> </li>

          <% if can? :destroy , r or (current_user!=nil and current_user.id == User.find(r.user_id).id) %>
            <button type="button" class="delete" data-p_id="<%=r.post.id%>" data-id="<%=r.id%>">Delete</button>     
          <% end %>
        <% end %>
      <% end %>
      </ul>
    <% end %>

    <h3>Add Comment</h3>
    <%= form_with model: [ post, @comment ], data: { post_id: post_id, max_id: max_id }, class: "comment-form" do |form| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@comment.errors.count, "error") %> prohibited this review from being saved:</h4>

          <ul>
            <% @comment.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.text_area :body, class: "comment-text" %>
      </div>

      <% if user_signed_in? %>
        <div class="field">
          <div style="display:none"> <%= form.select :user_id,[current_user.id] %> </div>
        </div>
        <div class="actions">
          <%= form.submit "Add comment"%>
        </div>
      <% else %>
          <a href="http://127.0.0.1:3000/users/sign_in" class="button">Add a comment</a>
      <% end %>
    <% end %>

    <% if current_user!=nil and current_user.id == post.user_id%>
      <%= link_to "Edit this post", edit_post_path(post) %>
    <% end %>
    
    <%= if can? :destroy, post or (current_user!=nil and current_user.id == post.user_id) then button_to 'Delete post', post, method: :delete, data:{ confirm: 'Are you sure?' } end%>
  
    <hr>
    <% i += 1 %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
<script>
  var max_id = $('#posts').data('max_id')
  $('.btn').on('click', function() {
    if($(this).hasClass('btn-green')){
      $(this).removeClass('btn-green')
      $('#'+String($(this).attr("id"))+'.like-count').text($('#'+String($(this).attr("id"))+'.like-count').text()-1)   
    }
    else if($(this).hasClass('btn-red')){
      $(this).removeClass('btn-red')
      $('#'+String($(this).attr("id"))+'.like-count').text(parseInt($('#'+String($(this).attr("id"))+'.like-count').text())+1)   
    }
    else if($(this).hasClass('like-btn') && !$(this).hasClass('btn-green')){
      if($('#'+String($(this).attr("id"))+'.dislike-btn').hasClass('btn-red')){
        $('#'+String($(this).attr("id"))+'.dislike-btn').removeClass('btn-red')
      $('#'+String($(this).attr("id"))+'.like-count').text(parseInt($('#'+String($(this).attr("id"))+'.like-count').text())+2)   
      }
      else{
      $('#'+String($(this).attr("id"))+'.like-count').text(parseInt($('#'+String($(this).attr("id"))+'.like-count').text())+1)   
      }  
      $(this).addClass('btn-green')
    }
    else if($(this).hasClass('dislike-btn') && !$(this).hasClass('btn-red')){
      if($('#'+String($(this).attr("id"))+'.like-btn').hasClass('btn-green')){
        $('#'+String($(this).attr("id"))+'.like-btn').removeClass('btn-green')
      $('#'+String($(this).attr("id"))+'.like-count').text(parseInt($('#'+String($(this).attr("id"))+'.like-count').text())-2)   
      }
      else{
      $('#'+String($(this).attr("id"))+'.like-count').text(parseInt($('#'+String($(this).attr("id"))+'.like-count').text())-1)   
      }
      $(this).addClass('btn-red')
    }
  });
  $(".comment-form").submit(function(event) {
    event.preventDefault();
    var post_id = $(this).data('post-id');
    var form = $(this);
    var formUrl = $(this).attr("action");
    var formData = $(this).serialize();
    var formDataArray = $(this).serializeArray();
    var username = $("#posts").attr("data-username");
    var body = formDataArray[1].value;
    $.ajax({
      url: formUrl,
      type: 'POST',
      data: formData,
      success: function(response) {
        if (form.prev().prev().hasClass("no-comment")){
          form.prev().prev().remove();
          form.prev().prev().after('<ul><li>' + username + ' - ' + body + ' - </li><button type="button" class="delete" data-p_id="'+post_id+'" data-id='+(max_id+1)+'>Delete</button></ul>');
        }
        else{
          form.prev().prev().append('<li>' + username + ' - ' + body + ' - </li><button type="button" class="delete" data-p_id="'+post_id+'" data-id='+(max_id+1)+'>Delete</button>');
        }
        form.find(".comment-text").val("");
        max_id+=1;
      },
      error: function(error) {
        alert('errore')
      }
    });
  });
  $(document).on('click', '.delete', function() {
    var button = $(this);
    var post_id = String($(this).data('p_id'));
    var comment_id =  String($(this).data('id'));
    var deleteUrl = "/posts/" + post_id + "/comments/" + comment_id;
    $.ajax({
      url: deleteUrl,
      type: 'DELETE',
      data: {
        authenticity_token: $('meta[name="csrf-token"]').attr('content'),
        post_id: post_id,
        id: comment_id
      },
      success: function(response) {
        button.prev().remove();
        button.remove();

      },
      error: function(error) {
        alert('errore')
      }
    });
  });
</script>