<p style="color: green"><%= notice %></p>

<%= form_tag(posts_path, :method => "get", id: "search-form") do %>
    <%= select_tag :search, options_for_select([' ','Affari', 'Cultura','Politica','Salute','Spettacolo','Sport','Tecnologia']), placeholder: "" %>
    <%= submit_tag "Search category" %>
<% end %>

<h1>Posts</h1>
<%= link_to "New post", new_post_path %>
<div id="posts">
    <%= render @posts %>
</div>
