<%= javascript_import_module_tag "post" %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--Script Google Maps-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNF-rSthM99v10XV-x25hDT-bBpxfTKY4&callback=initMap&v=weekly"
      async defer></script>

<%= stylesheet_link_tag 'post' %>
<!DOCTYPE html>
<html>
  <head>
    <title>SocialNews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      Ciao, <%= current_user.name + current_user.surname%> [<%= link_to 'Fai il logout',
      destroy_user_session_path, :method => :delete%>]<br>
      <% if current_user.email == "admin@gmail.com" %>
        <% current_user.admin! %>
      <%end%>
    <% end %>
    <% if current_user==nil %>
      <%= link_to "Clicca qui per fare il login", new_user_session_path() %>
    <% elsif can? :all, @user%>
      <%= button_to "Tutti gli utenti", users_path, method: "get"%>
    <% else %>
      <%= button_to "Il mio profilo", user_path(current_user.id), method: "get"%><br>
      <%= link_to "Tutte le notizie", root_path() %>
      <%= link_to "Seguiti", feed_path() %>
      <%= link_to "Maps", maps_path() %>
      <%= link_to "Impostazioni", info_path() %>
    <% end %>
    <%= yield %>
  </body>
  <% if @pagy!=nil && @pagy.next   %>
  <div id="next_link">
    <%= link_to "next", pagy_url_for(@pagy, @pagy.next) %>
  </div>
  <% end %>
  <% if @pagy!=nil && @pagy.prev %>
    <div id="prev_link">
      <%= link_to "prev", pagy_url_for(@pagy, @pagy.prev) %>
    </div>
  <% end %>
</html>
