<%= javascript_import_module_tag "post" %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- primo script google translate-->
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--Script Google Maps-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNF-rSthM99v10XV-x25hDT-bBpxfTKY4&callback=initMap&v=weekly"async defer></script>
<!-- fine google translate-->
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<%= stylesheet_link_tag 'post' %>

<!DOCTYPE html>
<html>
  <head>
    <title>SocialNews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if show_navbar? %>
    <nav class="navbar bg-light">
      <%= link_to root_path() do %>
        <%= image_tag("icona.png", size: "45x45") %>
      <% end %>
      <%= form_tag(posts_path, method: "get") do %>
        <%= text_field_tag(:keyword, nil, placeholder: 'Cerca...',class: "searchbar") %>
      <% end %>
          <% if current_user==nil %>
            <%= link_to "Clicca qui per fare il login", new_user_session_path() %>
          <% elsif can? :all, @user%>
            <%= button_to "Tutti gli utenti", users_path, method: "get"%>
          <% else %>
            <!--script google translate-->
            <div id="google_translate_element"></div>
            <script type="text/javascript">
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'it'}, 'google_translate_element');
              }
            </script>
            <%= link_to new_user_report_path(),  class: "btn mr-1" do %>
              <i class="fa-solid fa-gear fa-xl"></i> 
            <% end %>
            <%= link_to user_path(current_user.id), method: "get" , class: "user-btn btn" do%>
              <i class="fa fa-user fa-xl"></i> 
            <% end %>
          <% end %>
          <% if user_signed_in? %>
            Ciao, <%= current_user.name + current_user.surname%><%= link_to  destroy_user_session_path, :method => :delete, class: "btn" do%>
            <i class="fa-solid fa-right-to-bracket">  Log out</i>
            <%end%><br>
            <% if current_user.email == "admin@gmail.com" %>
              <% current_user.admin! %>
            <%end%>
          <% end %>
    </nav>
  <% end %>
  <%= yield %>

<div class="container">
  <div class="row">
    <div class="col-6">
      <% if @pagy!=nil && @pagy.prev %>
        <div id="prev_link">
          <%= link_to pagy_url_for(@pagy, @pagy.prev) do %>
            <%= image_tag "button_prev_page.png", alt: "Pagina precedente", style: "width:30px;"%>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-6">
      <% if @pagy!=nil && @pagy.next   %>
        <div id="next_link">
          <%= link_to pagy_url_for(@pagy, @pagy.next) do %>
            <%= image_tag "button_next_page.png", alt: "Prossima pagina", style: "width:30px;"%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<br>
</div>
  <% notice if notice %>
  <% alert if alert %>
  
  </body>
</html>
